<!DOCTYPE html>
  <html>

    <head>

    </head>

    <body>
      <nav>
        <a href="/">
          Home
        </a>
      </nav>
      <h1>
        Actor #<%= @an_id %> Details
      </h1>
      <nav>
        <a href="/actors">
          Go back
        </a>
      </nav>

    <hr>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_actor.name %>
      </dd>

      <dt>
        Dob
      </dt>
      <dd>
        <%= @the_actor.dob %>
      </dd>
        
      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_actor.bio %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src = <img src = <%= @the_actor.image %>>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= @the_actor.created_at %>
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= @the_actor.updated_at %>
      </dd>

    <hr>

    <table border="1">
      <tr>
        <th>
          Title
        </th>
        <th>
          Year
        </th>
        <th>
          Director
        </th>
        <th>
          Character Name
        </th>
        <th>
        </th>

        <% @acted_movies.each do |a_thing| %>
          <tr>
            <td>
              <% @actors_movie = a_thing.movie_id %> 
              <% @corresponding_film = Movie.where({ :id => @actors_movie}).at(0) %>
              <%= @corresponding_film.title %>
            </td>
            <td>
              <%= @corresponding_film.year %>
            </td>
            <td>
              <% @director_key = @corresponding_film.director_id %>
              <% @corresponder = Director.where({ :id => @director_key}).at(0) %>
              <%= @corresponder.name %>
            </td>
            <td>
              <% @an_id %>
              <% @corresponder = Character.where({ :actor_id => @an_id}).where({ :movie_id => @corresponding_film}).at(0) %>
              <%= @character_played = @corresponder.name %>
            </td>
            <td>
              <a href="/movies/<%= @actors_movie %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </table>
    </body>
