<!DOCTYPE html>
  <html>

    <head>

    </head>

    <body>
      <nav>
        <a href="/">
          Home
        </a>
      </nav>

      <h1>
        Actor #<%= @an_id %> Details
      </h1>

      <nav>
        <a href="/actors">
          Go back
        </a>
      </nav>

    <hr>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_actor.name %>
      </dd>

      <dt>
        Dob
      </dt>
      <dd>
        <%= @the_actor.dob %>
      </dd>
        
      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_actor.bio %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src = <img src = <%= @the_actor.image %>>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= @the_actor.created_at %>
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= @the_actor.updated_at %>
      </dd>

    <hr>

        <% @acted_movies.each do |a_thing| %>
          <tr>
            <td> <%= a_thing.movie_id %> </td>
              <a href="movies/<%= a_thing.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>

      </table>
    </body>
